/* Palette: https://coolors.co/528976-ffe184-7d80da-eeeeff-0d1b2a */

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Serif', serif;
  color: black;
}
body {
  background-color: #DCE1E3;

}
/* home page */

#hero-image {
  height: 580px;
  width: 100vw;
  padding-top: 1px;
  background: #e8eced url('https://www.desktopbackground.org/download/1600x900/2013/04/30/568628_horse-farm-hd-wallpapers_1920x1200_h.jpg') no-repeat center;
  background-size: cover;
}
#hero-image h2 {
  font-weight: 300;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.wrapper {
  margin-top: 10vh;
}
.button-1 {
  display: block;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 180px;
  font-size: 20px;
  margin: 0 auto;
}
.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
/*header css*/
header {
  display:flex;
  flex-direction: column;
  gap:2%;
  align-items: center;
  background-color: #5C5F58;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.squarespace-cdn.com%2Fcontent%2Fv1%2F56b8d3e7746fb9e9990d280b%2F1642172386721-V8ULHLW3E73ZLW2HLX5Z%2Fhero-15.jpg&imgrefurl=https%3A%2F%2Fwww.seethechampions.com%2F&tbnid=fu_dCEq3v75X7M&vet=12ahUKEwiTjpTx_bT3AhVzqnIEHb5hA2IQMygeegUIARCfAg..i&docid=TmZpgO2e10EcOM&w=960&h=400&q=horse%20farm%20pics&ved=2ahUKEwiTjpTx_bT3AhVzqnIEHb5hA2IQMygeegUIARCfAg");
  color: black;
  padding: 2%;
}
header div {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2%;
}
header img {
  display:block;
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 5px solid #555;
}
header input[type=text] {
  width: 50%;
  height:3em;
  font-size: 1.25em;
  background: none;
  border:1px solid #270C0C;
  border-radius: 4px;
  color: black;
  margin-top:1%;
  padding:.5rem;
}
header h1 {
  font-size: 2.0rem;
  margin-top: 10%;
  margin-bottom: 0%;
}


button {
  border-radius: 10px;
  margin: 10px;
}

/* nav bar css */
.nav {
  display: inline;
  display: block;
  padding: 8px;
  background-color: lightgrey;
}
a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 16px;
}
#navbarlogo {
  width: 5%;
  height: 5%;
  display: inline;
}

.links {
  display: inline;
}

#header-patient-tracker{
  margin: 10px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}





#ourteamhead {
  text-align: center;
}
/*signup page */
#signupform {
  text-align: center;
}
#username {
  text-align: center;
}
#password {
  text-align: center;
}
#password_confirmation {
  text-align: center;
}
#signUpButton {
  text-align: center;
  border-radius: 10px;
}
/* login css*/
#loginform {
  text-align: center;
}
.logininputs {
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
#abovemap {
  text-align: center;
}
#horsecardeach {
    background-color: #DADED4;
    width: 100%;
    border-color: #5C5F58;
    border-width: 5px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
}

#horsepic {
  height: 20vh;
  width: auto;
}
.container {
  margin-top: 6vh;
}
.cardelements{
  border-width: 5px;
  border-color: #5C5F58;
}
#message-button {
  background-color: gray;
  margin: 5px;
}
