
#username {
    text-align: center;
}
#password {
    text-align: center;
}
#password_confirmation {
    text-align: center;
}
#signUpButton {
    text-align: center;
    border-radius: 10px;
}
#emailsign {
    margin: 2vh;
}